.Volume_container{
    float: right;
    margin-top: 2%;
    margin-right: 2%;
}
.Volume_container{
    font-size: 2em;
}


@media only screen and (max-width: 1250px){
    .Volume_container{
        /* font-size: 2em; */
        margin-top: 2%;
    }
}
@media only screen and (max-width: 650px){
    .Volume_container{
        font-size: 1.7em;
        margin-top: 4%;
    }
}
@media only screen and (max-width: 450px){
    .Volume_container{
        font-size: 0.8em;
        margin-top: 8%;
    }
}